ul li{
	display : inline-block;
	background-color: red;
	width:101px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: white;
	font-weight: bold;
	margin-left: 10px;
}

ul li a{
	text-decoration: none;
	color:white;
}

ul li: hover{
	background-color: yellow;
}

.active{
	background-color: green;
}